
*{box-sizing: border-box;}

html,
body {
	padding: 0;
	margin: 0;
	background: #fff;
	color: #111;
	font-family: "Montserrat", "Helvetica Neue", "Helvetica", "Arial", "Verdana", "sans-serif";
	font-size: 16px;
	overflow-x: hidden;
	background-color: #fefefe;
	min-height: 100vh;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
	transition: color 0.2s;
	-webkit-transition: color 0.2s;
}

a:hover {
	color: #1b53ee;
}

label {
	margin-bottom: 0.5rem;
	margin-top: 1.5rem;
	font-weight: 300;
	font-size: 1.225rem;
}

header {
	height: 100vh;
	display: flex;
	align-items: center;
	background-color: #efefef;
	color: #222222;
}

nav {
	position: fixed;
	top: 0;
	width: 100%;
	font-weight: 600;
	color: #fff;
	z-index: 2;
}

section {
	width: 100%;
}

.banner {
	height: 100vh;
	width: 100vw;
	z-index: 5000000000;
	position: absolute;
	left: 0;
	top: 0;
	background-color: #fff;
}

footer {
	background-color: #efefef !important;
	padding: 3rem 0;
	color: #222 !important;
}

img {
	max-width: 100%;
}

.mobile {
	display: none;
	margin: 15rem auto !important;
}

.mb-5 {
	margin-bottom: 5rem !important;
}

.mb-8 {
	margin-bottom: 8rem !important;
}

.mt-10 {
	margin-top: 8rem !important;
}

.navbar {
	padding: 1rem 0;
	border-bottom: 1px solid #f1f1f1;
}

.navbar-light .navbar-nav .nav-link {
    color: #222;
    font-size: 0.9375rem;
    font-weight: 500;
    padding-left: 1rem;
    padding-right: 1rem;
    text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    opacity: 0.7;
    color: #222;
    transition: 0.5s;
}

.navbar-light .navbar-toggler {
	border: none !important;
}

.navbar-nav .nav-item {
	text-align: center;
}

.navbar-brand img {
	height: 40px;
}

.container {
	width: 100%;
	max-width: 1140px;
	padding-left: 2rem !important;
	padding-right: 2rem !important;
	margin: auto;
	text-align: left;
}

.container-md {
	width: 100%;
	max-width: 1280px;
	padding-left: 2rem;
	padding-right: 2rem;
	margin: auto;
}

.container-sm {
	width: 100%;
	max-width: 840px;
	padding-left: 2rem;
	padding-right: 2rem;
	margin: auto;
}

.btn {
  background-color: #1b53ee;
  border: 2px solid #1b53ee !important;
  color: white;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.125rem;
  font-weight: 600;
  border-radius: 10px;
}

.btn:hover {
	background-color: transparent !important;
	color: #1b53ee !important;
	padding: 1rem 2rem;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1.125rem;
	font-weight: 600;
	border-radius: 10px;
	transition: 0.5s;
}

.btn-transparent {
	margin-top: 2rem;
	background-color: transparent;
	border: 2px solid #BF1D1A !important;
	color: #BF1D1A;
	border-radius: 10px;
}

.btn-transparent:hover {
	color: #fff !important;
	background-color: #BF1D1A !important;
}

.btn-white {
	color: #fff;
	border: 2px solid #fff !important;
}

.btn-white:hover {
	color: #00d4ff !important;
	background-color: #fff !important;
}

.header-caption {
	position: relative;
	display: table;
	height: 100%;
	width: 100%;
	margin: 0 auto;
}

.header-caption img {
	max-width: 100%;
}

.intern-logos {
	width: 150px;
}

.intern-logos-sm {
	width: 120px;
}

.margin-8 {
	margin-top: 8rem;
}

.thinker {
	border-radius: 200px;
	width: 180px;
}

.header-caption .row {
	height: 100%;
}

.header-caption .row .col-lg {
	margin: auto;
}

.header-content {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
}

.header-title {
  	font-size: 3rem;
  	font-weight: 700;
  	line-height: 1;
  	color: #2CCF96;
}

.header-subtitle {
	margin: 2.25rem 0;
	font-weight: 400;
	font-size: 1.2rem;
	color: #222222;
}

.section-title {
	color: #222;
	font-size: 2.225rem;
	font-weight: bold;
	margin-bottom: 0.5rem;
	text-align: left;
}

.content-title {
	color: #222;
	font-size: 1.625rem;;
	font-weight: 600;
	margin-bottom: 1rem;
	text-align: left;
}

.content-subtitle {
	font-size: 1.5rem;
	color: #2CCF96;
	font-weight: 500;
}

.content-body {
	font-size: 1.25rem;
	margin-bottom: 2rem;
	opacity: 0.5;
}

.about {
	padding-top: 5rem;
}

.about a.about-card-text {
	text-decoration: none;
	color: #fff;
}

.about .col-lg-3 {
	margin: 5rem 0;
	border-radius: 6px;
	width: 100%;
	text-align: center;
	padding-left: 2rem;
	padding-right: 2rem;
}

.about a {
	font-size: 1.2rem;
	color: #1b53ee;
	text-decoration: none;
	font-weight: 700;
}

.about a:hover {
	opacity: 0.7 !important;
	transition: 0.5s;
}

.about img {
	margin-top: -6rem;
	width: 70%;
}

.about-card {
	border-radius: 5px;
	height: 100%;
	padding: 0;
}

.about-card-down {
	margin-top: 10rem;
}

.about-card-body {
	margin-top: 3rem;
	margin-bottom: 2rem;
}

.about-card-title {
	font-size: 1.625rem;
	font-weight: 600;
	color: #2CCF96;
}

.about-card-text {
	font-size: 1.05rem;
	opacity: 0.5;
	font-weight: 400;
	color: #222;
}

.projects {
	margin-bottom: 10rem;
}

.projects .row {
	margin-bottom: 18rem;
}

.projects .col-lg-6 {
	padding: 0 3rem;
}

.projects .col-lg-6 .content-title {
    font-weight: 500;
    font-size: 1.625rem;
}

.projects img {
	padding-bottom: 2rem;
}

.projects-cta {
	text-align: center;
}

.projects-cta a {
  font-size: 3rem;
  color: #2CCF96;
  display: inline;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  font-weight: 600;
  text-decoration: underline;
}

.projects-cta a:hover {
	opacity: 0.7 !important;
	transition: 0.5s;
}

#preLoader {
    display: flex;
    height: 100vh;
    position: fixed;
    width: 100vw;
    background-color: #fff;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
	z-index: 100000;
	transition: 0.5s ease;
}

.preloader-img {
	margin-top: 20vh;
	max-height: 200px;
}

.height-0 {
	height: 0 !important;
	padding: 0 !important;
}

.manifesto {
	min-height: 90vh;
	max-width: 850px;
	margin: auto
}

.footer p {
  color: #222;
}

.footer a {
  color: #222;
}

.footer a:hover {
  color: #aaa;
  text-decoration: none;
}

.footer-content {
	margin: auto !important;
}

.footer-social-links {
	font-size: 2rem;
}

.fab {
	width: auto !important;
}

footer .fab {
    color: #222;
  	display: inline-block;
	padding: 12px 6px;
	height: 56px;
	width: 56px;
	background-color: transparent;
	border-radius: 50%;
	margin: 0 0.525rem;
}

footer .fab:hover {
	opacity: 0.7;
	transition: 0.3s ease;
}

footer .container {
	text-align: center;
}

@media (min-width:0px) and (max-width:355px) {
	/* Smaller tablets @ 600 or @ 640 wide. */
	html {
		font-size: 9px;
	}
	.mobile {
		display: inherit;
	}
	.navbar-brand img {
		height: 40px;
	}
	.no-mobile {
		display: none;
	}
	.header-content {
		padding: 3rem 0;
	}
	.header-caption {
		margin-top: 15rem;
		margin-bottom: 10rem;
	}
	.header-title {
		font-size: 3rem;
	}
	.content-title {
		font-size: 1.625rem !important;
	}
	.about-card-title {
		font-size: 2.425rem;
	}
	.about-card-text {
		font-size: 1.3rem;
	}
	.about .row {
		max-width: 500px;
		margin: auto;
	}
	.about-card {
		padding: 0;
	}
	.about-card-down {
		margin-top: 0;
	}
	.navbar-light .navbar-nav .nav-link {
		font-size: 1.225rem; 
	}
	.projects .row {
		max-width: 600px;
		margin: auto;
	}
}

@media (min-width:356px) and (max-width:511px) {
	/* Smaller tablets @ 600 or @ 640 wide. */
	html {
		font-size: 10.5px;
	}
	.mobile {
		display: inherit;
	}
	.navbar-brand img {
		height: 40px;
	}
	.no-mobile {
		display: none;
	}
	.header-content {
		padding: 3rem 0;
	}
	.header-caption {
		margin-top: 15rem;
		margin-bottom: 10rem;
	}
	.header-title {
		font-size: 3rem;
	}
	.content-title {
		font-size: 1.625rem !important;
	}
	.content-body {
		font-size: 1.25rem;
	}
	.about-card-title {
		font-size: 2.425rem;
	}
	.about-card-text {
		font-size: 1.3rem;
	}
	.about .row {
		max-width: 500px;
		margin: auto;
	}
	.about-card {
		padding: 0;
	}
	.about-card-down {
		margin-top: 0;
	}
	.navbar-light .navbar-nav .nav-link {
		font-size: 1.225rem; 
	}
	.projects .row {
		max-width: 600px;
		margin: auto;
	}
}

@media (min-width:512px) and (max-width:763px) {
	/* Smaller tablets @ 600 or @ 640 wide. */
	html {
		font-size: 12px;
	}
	.mobile {
		display: inherit;
	}
	.navbar-brand img {
		height: 40px;
	}
	.no-mobile {
		display: none;
	}
	.header-content {
		padding: 3rem 0;
	}
	.header-caption {
		margin-top: 15rem;
		margin-bottom: 10rem;
	}
	.header-title {
		font-size: 3rem;
	}
	.content-title {
		font-size: 1.625rem !important;
	}
	.about-card-title {
		font-size: 2.425rem;
	}
	.about-card-text {
		font-size: 1.3rem;
	}
	.about .row {
		max-width: 500px;
		margin: auto;
	}
	.about-card {
		padding: 0;
	}
	.about-card-down {
		margin-top: 0;
	}
	.navbar-light .navbar-nav .nav-link {
		font-size: 1.225rem; 
	}
	.projects .row {
		max-width: 600px;
		margin: auto;
	}
}

@media (min-width:764px) and (max-width:991px) {
	/* Desktop - Laptops* --- bre */
	html {
	  font-size: 12px;
	}
	.mobile {
		display: inherit;
	}
	.no-mobile {
		display: none;
	}
	.header-content {
		padding-bottom: 5rem;
	}
	.header-caption {
		margin-top: 15rem;
		margin-bottom: 10rem;
	}
	.header-title {
		font-size: 3rem;
	}
	.header-subtitle {
		font-size: 1.2rem;
	}
	.content-title {
		font-size: 1.625rem !important;
	}
	.about-card {
		padding: 0;
	}
	.about-card .about-card-down {
		margin-top: 0;
	}
	.about-card-title {
		font-size: 2.425rem;
	}
	.about-card-text {
		font-size: 1.3rem;
	}
	.content-body {
		font-size: 1.25rem;
	}
	.about .row {
		max-width: 500px;
		margin: auto;
	}
	.about .col-lg-3 {
		padding-left: 1rem;
		padding-right: 1rem;
	}
	.about-card-text {
		font-size: 1.225rem;
	}
	.projects .row {
		max-width: 600px;
		margin: auto;
	}
}

@media (min-width:992px) and (max-width:1100px) {
	/* Desktop - Laptops* --- bre */
	html {
	  font-size: 12px;
	}
	.no-desktop {
		display: none;
	}
	.header-title {
		font-size: 3rem;
	}
	.content-title {
		font-size: 2.275rem !important;
	}
	.about-card {
		padding: 0;
	}
	.content-body {
		font-size: 1.25rem;
	}
	.about .col-lg-3 {
		padding-left: 1rem;
		padding-right: 1rem;
	}
	.about-card-text {
		font-size: 1.225rem;
	}
	.section-title {
		font-size: 2.475rem;
	}
}

@media (min-width:1101px) and (max-width:1280px) {
	/* Desktop - Laptops* --- bre */
	html {
	  font-size: 12px;
	}
	.no-desktop {
		display: none;
	}
	.header-title {
		font-size: 3rem;
	}
	.content-title {
		font-size: 2.275rem;
	}
	.content-body {
		font-size: 1.25rem;
	}
	.about-card {
		padding: 0;
	}
	.projects .col-lg-6 .content-title {
		font-size: 2.275rem;
	}
	.about .col-lg-3 {
		padding-left: 1rem;
		padding-right: 1rem;
	}
	.about-card-text {
		font-size: 1.225rem;
	}
	.section-title {
		font-size: 2.475rem;
	}
}
  
@media (min-width:1281px) and (max-width:1530px) {
	/* Desktop - Laptops*/
	html {
		font-size: 14px;
	}
	.no-desktop {
		display: none;
	}
	.header-title {
		font-size: 2.7rem;
	}
	.content-title {
		font-size: 2.275rem;
	}
	.about-card {
		padding: 0 1rem;
	}
	.projects .col-lg-6 .content-title {
		font-size: 1.625rem;
	}
	.content-body {
		font-size: 1.25rem;
	}
	.navbar-light .navbar-nav .nav-link {
		font-size: 1.3rem; 
	}
	.section-title {
		font-size: 2.475rem;
	}
}

@media (min-width:1531px) and (max-width:1612px) {
	/* Desktop - Laptops*/
	html {
	  font-size: 15px;
	}
	.navbar-light .navbar-nav .nav-link {
		font-size: 0.9375rem;
	}
	.section-title {
		font-size: 2.475rem;
	}
	.no-desktop {
		display: none;
	}
  }
  
  @media (min-width:1613px) {
	/* Hi-res monitors and desktops */
	html {
	  font: 16px;
	}
	.navbar-light .navbar-nav .nav-link {
		font-size: 0.9375rem;
	}
	.section-title {
		font-size: 2.475rem;
	}
	.no-desktop {
		display: none;
	}
  }
